<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <link rel="stylesheet" href="{{ url_for('static', style.css)}}">
</head>
<body>

    <h2>Let's play the game</h2>


    <div class="image-box">
        <form action="" method="POST">
            <button type="submit" name="replay" class="play-again">Play Again</button>
        </form>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div>
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    
</body>
</html>